.aae--vl-marquee-wrapper {
  position: relative;
  height: 1200px;
  overflow: hidden;
}

.aae--vl-marquee-container {
  gap: 30px;
  height: 1200px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.aae--vl-marquee-container.marquee-forward, .aae--vl-marquee-container.marquee-backward {
  will-change: transform;
}
.aae--vl-marquee-container.marquee-backward {
  justify-content: flex-end;
}

.aae--vertical-marquee {
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 20px;
}