---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Intro from "../components/Intro.astro";
import Marquee from "../components/Marquee.astro";
import Work from "../components/Work.astro";
import Benefits from "../components/Benefits.astro";
import Heights from "../components/Heights.astro";
import Awards from "../components/Awards.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
import Animations from "../components/Animations.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Intro />
    <Marquee />
    <Work />
    <Benefits />
    <Heights />
    <Awards />
    <CTA />
  </main>
  <Footer />
  <Animations />
</Layout>
